<!-- Site footer -->
<footer class="site-footer mt-5">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-8 col-sm-6 col-xs-12 ">
                <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
                    <a href="https://atis.al" target="_blank">Atis</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <idv class="social-icons">
                    <a class="fab fa-css fa-facebook-f" href="#"></a>
                    <a class="fab fa-css fa-twitter" href="#"></i></a>
                    <a class="fab fa-css fa-dribbble" href="#"></i></a>
                    <a class="fab fa-css fa-linkedin" href="#"></i></a>
            </div>
        </div>
    </div>
    </div>
</footer>